body{
    background-color: rgb(255, 255, 255);
}

#page-title {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 125px;
}

#invalid-login {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-bottom: 10px;
    visibility: hidden;
}

#login-instruct {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

#login-form {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

#username {
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#password {
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#login-but {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #D3D3D3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
